/captures
.externalNativeBuild
.cxx
.ignore.d/

###      IDEA
.idea
.gradle
.vscode

###      BUILDS
**build/

###      BINS
**bin/

###      ANDROID
**APK keystore/
.DS_Store
composeApp/src/androidMain/res/raw/release_notes.txt

###      PROPERTIES
**local.properties
**crowdin.properties
**__crowdin.properties


###     DEPENDENCIES
/YT python/
/.kotlin/
