/captures
.externalNativeBuild
.cxx

###      IDEA
.idea
.gradle

###      BUILDS
**build/

###      BINS
*/bin/

###      ANDROID
**APK keystore/
.DS_Store

###      PROPERTIES
**local.properties
**crowdin.properties
**__crowdin.properties


###     DEPENDENCIES
/YT python/
/.kotlin/
