select {
  all: unset;
  cursor: pointer;
}
.loadingScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0B0D19;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: ease 0.4s opacity;
}
.loader {
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #4ec07c;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}
#languageSelect{
  padding:0 5px 0 5px
}
.footer-links > li > a{
    white-space: nowrap
}
@media (max-width: 740px) {
    .footer-links {   
        flex-direction: column;
        text-align: right
    }
    .footer-links > li {
        margin: 2px !important  
    }
}
@media (max-width: 640px) {
    .footer-links {   
        text-align: center;
    }
} 
@media (max-width: 840px) {
  @media (min-width: 641px) {
    .feature-extended-body {
      width: 45%;
    }
    .container > div:nth-child(even) {
      img.device-mockup{
        left: calc(0vw - (95px - 12vw) *2) !important
      }
    }
    .container > div:nth-child(odd) {
      img.device-mockup{
        right: calc(0vw - (95px - 12vw) *2) !important
      }
    }
  }
  .feature-extended-image {
    margin-right: 12% !important;
    margin-left: 12% !important;
  }  
}
.feature-extended-body p {
    color: #36517c;
}
.hero-bg,
.site-footer {
  background-color: #181d36 !important
}
.hero-paragraph,
.site-footer a,
.site-footer p {
  color: #ABBAD0 !important
}
#toggledark {
  --color: #ABBAD0;
  --moon: 0.4;
  --sun: 0.95
}
.focustoggle:hover {
  --color: #4fc17c!important;
  cursor: pointer
}
body.dark {
  background-color: #0d1117;
  #toggledark {
    --sun: 0.4 !important;
    --moon: 0.95 !important
  }
  #languageSelect > option{
    color:#15182b
  }
  .hero-paragraph,
  .site-footer a,
  .site-footer p {
    color: #ABBAD0 important;
  }
  .feature-extended p {
    color: #ABBAD0;
  }
  .hero-bg,
  .site-footer {
    background-color: #0B0D19 !important;
  }
  .body-wrap {
    background-color: #15182b;
  }
  .mockup-bg>img {
    opacity: 0.35
  }
  .boxed-container {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.15)
  }
  .feature-extended h3 {
      color: rgb(79, 193, 124)
  }
}
.container-sm a img{
  opacity: 0.7
}
a > img:hover{
  opacity: 1
}
.device-mockup{
  border-radius:10px
}
.hero-inner .device-mockup{
  border-radius:12px
}
