.loadingScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0b0d19;
  z-index: 5002;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: ease 0.4s opacity;
}
.loader {
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #4ec07c;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
ul {
  list-style-type: none;
  margin: 0;

  position: relative;
  bottom:0
}

.footer-links {
  display: unset;

text-align:right;
li {
  
  margin: 0 8px 0 8px !important;
  display: inline-flex;

}
 a {
  white-space: nowrap;
}
}
#globe{
  margin-left: 8px;
  cursor: pointer;
  --color: #abbad0;
  opacity: 0.6;
  &:hover{
    --color: #4fc17c !important;
    opacity: 0.95 !important;
  }
}
#langSelect { 
  cursor: pointer;
  position: relative;
  left: 0px;
  margin: 0;
  padding-left: 25px; 
  width: fit-content;
  z-index:5000;
  background-image:url(../images/lang.svg) !important;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: auto 21px;
  text-wrap: nowrap;
  color: #abbad0
}
#langOption {
  display: none;
  position: absolute;
  max-height: calc(72vh - 24px);
  width: fit-content;
  right: 0px;
  bottom: calc(100% + 5px);
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color:#fff;
  color: #161e29;
  border: 1px solid rgba(80,80,80,1);
  padding: 0 8px 0 8px;
  /* Styling for Chromebased Browser */
    color-scheme: dark;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(250, 250, 250, 0.1);
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  /* --- */
  div {
    border-bottom: 1px dotted rgba(80,80,80,1);
    padding:7px;
    text-align: left;
    text-wrap: nowrap;
    cursor: pointer;
  }
  div:hover {
    background-color: rgba(0,0,0,0.2)
  }
  div:last-child {
    border-bottom: none
  }
}
body.visible #langOption {
  display: block !important;
  cursor:default;
}
body.visible #langBorder {
  background-color: rgba(36, 41, 66, 0.8);
  display: flex;
  cursor:crosshair; 
}
/* REVEAL STYLE */
  .is-revealing{
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.4s ease-in-out, opacity 0.2s;
    &.invisible{
      opacity: 0; 
      &.up{
        transform: translateY(22%);
      }
      &.down{
        transform: translateY(-22%);
      }
    }
  }
/* --- */
.flex{
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 740px) {
  .footer-links {
    flex-direction: column;
    text-align: right;
    display: inline-flex;
    padding: 0 8px 0 8px;
  }
  .footer-links > li {
    margin: 2px !important;
    display:block
  }
}
@media (max-width: 640px) {
  .footer-links {
    text-align: center;
  }
  #langSelect {
    margin-left: auto;
    margin-right: auto;
  }
  #langBorder {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;  
  }
  #langOption {
    margin-left: auto;
    margin-right: auto;
    position: unset;
    max-height: 90vh;
    height: fit-content;
    width: 65vw;
    div{
      padding-top: 10px;
      padding-bottom: 10px
    }
  }
  body.visible {
    overflow: hidden;
  }
}
@media (max-width: 840px) {
  @media (min-width: 641px) {
    .feature-extended-body {
      width: 45%;
    }
    .container > div:nth-child(even) {
      img.device-mockup {
        left: calc(0vw - (95px - 12vw) * 2) !important;
      }
    }
    .container > div:nth-child(odd) {
      img.device-mockup {
        right: calc(0vw - (95px - 12vw) * 2) !important;
      }
    }
  }
  .feature-extended-image {
    margin-right: 12% !important;
    margin-left: 12% !important;
  }
  #languageSelect {
    padding-right: 0
  }
}
.feature-extended-body p {
  color: #36517c;
}
.hero-bg,
.site-footer {
  background-color: #181d36 !important;
}
.hero-paragraph,
.site-footer a,
.site-footer p {
  color: #abbad0 !important;
}
#toggledark {
  --color: #abbad0;
  --moon: 0.4;
  --sun: 0.95;
}
.focustoggle:hover {
  --color: #4fc17c !important;
  cursor: pointer;
}
body,
.body-wrap {
  transition: background-color 250ms;
}
body.dark {
  background-color: #0d1117;
  #toggledark {
    --sun: 0.4 !important;
    --moon: 0.95 !important
  }
  #langBorder{  
    background-color: rgba(23, 25, 37, 0.8);
  }
  #langOption{ 
    background-color: #0d1117;
    color:#fff;  
    div:hover {
      background-color: rgba(0,0,0,0.9)
    }
  }
  .hero-paragraph,
  .site-footer a,
  .site-footer p {
    color: #abbad0 important;
  }
  .feature-extended p {
    color: #abbad0;
  }
  .hero-bg,
  .site-footer {
    background-color: #0b0d19 !important;
  }
  .body-wrap {
    background-color: #15182b;
  }
  .mockup-bg > img {
    opacity: 0.35;
  }
  .boxed-container {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.15);
  }
  .feature-extended h3 {
    color: rgb(79, 193, 124);
  }
}
.container-sm a img {
  opacity: 0.7;
}
a > img:hover {
  opacity: 1;
}
.device-mockup {
  border-radius: 12px;
}
.hero-inner .device-mockup {
  border-radius: 15px;
}
.footer-copyright {
  width: fit-content;
  text-align: center;
  flex: unset;
}
@media (max-width: 641px) {
  .footer-copyright {
    text-align: center;
    flex: 50%;
  }
  .is-revealing{
    &.down.invisible{
      transform: translateY(-38px);
    }
  }
}
@media (max-width: 740px) {
  @media (min-width: 641px) {
    #langSelect {
      margin-left: auto;
      margin-right:0;
    } 
  }
}
.feature-extended-image img,.feature-extended-image svg{
  overflow:hidden
}
:root.no-js {
  .mockup-bg, .hero-paragraph{
    opacity:1 !important
  }
  .hero-particles-container{
    background-color: rgb(24, 29, 54);
    opacity:1 !important;
  }
  .loadingScreen, #globe, #toggledark, #languageSelect {
    opacity: 0 !important;
    display: none !important;
  }
  .device-mockup, header, section, footer, canvas{
    opacity:1 !important
  }
  .hero-particles-container{
    background-image:url("../images/hero-bg-top.svg"),url("../images/hero-bg-bottom.svg");
    background-repeat:no-repeat;
    background-position: top right, bottom left
  }
}
